name: Verify
on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.GH_PAT }}

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Check code
        run: bun check

      - name: Check types
        run: bun check:types

  test:
    name: Test Runtime
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.GH_PAT }}

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: bun run test
        env:
          CI: true
